* {
	font-family: Calibri, sans-serif;
	font-weight: normal;
}

#corpo{
	width: 525px;
	margin: 0 auto;
}

#mensagem{
	background-image: url("../img/imgRodape.png");
	background-attachment: scroll	;
	background-repeat: no-repeat;
	background-position: -10px -20px;
	height: 250px;
}
	

h1 {
	color: #EE7B27;
	font-weight: bold;
}
