<!-- BEGIN: main -->
<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<title>{tittle}</title>
<script type="text/javascript">
var content = [];

function addAnotherField(fieldId){

	if(content[fieldId] == undefined){
		content[fieldId] = document.getElementById(fieldId).innerHTML;
	}

	document.getElementById(fieldId).innerHTML += content[fieldId];
}
</script>
<link rel="stylesheet" type="text/css"	href="./pages/userSignUp/css/css.css">
</head>
<body>
	<!-- BEGIN: message -->
	<p><em>{message}</em></p>
	<!-- END: message -->
	<!-- BEGIN: dataEditing -->
	<form action="index.php?page={nextPage}" method="post">
		<p><em>{message}</em></p>
		<label>*{lblLogin}</label> <input placeholder="{lblLogin}" type="text" name="login">
		<label>*{lblPassword}</label><input placeholder="{lblPassword}" type="password" name="password">
		
		<label>*{lblName}</label><input placeholder="{lblName}" type="text" name="name">
		<label>*{lblLastName}</label><input placeholder="{lblLastName}" type="text" name="lastName">
		
		<label>{lblSex}</label>
		<select name="sex">
			<!-- BEGIN: comboSex -->
			<option value="{sexValue}">{sexText}</option>
			<!-- END: comboSex -->
		</select>
		
		<fieldset>
			<legend><label>*{lblBirthDate}</label></legend> 
			<label>*{lblBirthday}</label> <input placeholder="{lblBirthday}" type="number" name="birthDate[day]">
			<label>*{lblBirthmonth}</label> <input placeholder="{lblBirthmonth}" type="number" name="birthDate[month]">
			<label>*{lblBirthyear}</label> <input placeholder="{lblBirthyear}" type="number" name="birthDate[year]">
		</fieldset>
		<fieldset>
			<legend><label>*{lblEmail}</label></legend> 
			<div id="{lblEmail}">
			<input placeholder="*{lblEmail}" type="email" name="arrEmail[]">
			<button onclick="addAnotherField('{lblEmail}')">+</button><br/>
			</div>
		</fieldset>
			
		<fieldset>
			<legend><label>{lblTelephone}</label></legend>
			<div id="{lblTelephone}">
			<input placeholder="{lblTelephone}" type="tel" name="arrTelephone[]"> 
			<button onclick="addAnotherField('{lblTelephone}')">+</button><br/>
			</div>
		</fieldset>
		<br><br> 
		<input type="submit" value={sendText}>
	</form>
	<!-- END: dataEditing -->
</body>
</html>
<!-- END: main -->