[Desktop Entry]
Comment=Remote support services videos sending system
Name=UpSat
Exec=/opt/upsat/upsat.sh
Icon[pt_BR]=/opt/upsat/upsat.svg
Encoding=UTF-8
Terminal=false
Name[pt_BR]=Upsat
Comment[pt_BR]=Sistema de envio dos vídeos de atendimentos remotos
Type=Application
Icon=/opt/upsat/upsat.svg
Categories=Office;
