<!-- BEGIN: main -->
<html>
<head>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<title>{title}</title>
<!-- BEGIN: css -->
<link rel="stylesheet" type="text/css" href="{cssPath}">
<!-- END: css -->
</head>
<body>
	<header>{wellcomeMessage} {userName}</header>
	<menu>
		<!-- BEGIN: menu -->
		<menuitem><a href="{menuAddress}">{menuText}<sup>{updatesAmount}</sup></a></menuitem>
		<!-- END: menu -->
	</menu>
	<section>
		<!-- BEGIN: article -->
		<article>
			<header> {title} </header>
			{article}
		</article>
		<!-- END: article -->
	</section>
</body>
</html>
<!-- END: main -->