<!DOCTYPE html>
<html>
<head>
	<meta charset="UTF-8">
	<title></title>
	<script type="text/javascript">
	var content = [];
	
	function addAnotherField(fieldId){
	
		if(content[fieldId] == undefined){
			content[fieldId] = document.getElementById(fieldId).innerHTML;
		}
	
		document.getElementById(fieldId).innerHTML += content[fieldId];
	}
	</script>
	<link rel="stylesheet" type="text/css"	href="./pages/userSignUp/css/css.css">
</head>
<body>
	<form action="index.php?page=" method="post">
		<p><em></em></p>
				<fieldset>
		<legend>arrupvotersids</legend>
			<div id="arrupvotersids">
				<label for="arrupvotersids">*arrupvotersids</label>
				<input type="text" id="arrupvotersids" name="arrupvotersids" placeholder="arrupvotersids"/>
				<button onclick="addAnotherField('arrupvotersids')">+</button><br/>
			</div>
		</fieldset>
		
		<fieldset>
		<legend>arrdowvotersids</legend>
			<div id="arrdowvotersids">
				<label for="arrdowvotersids">*arrdowvotersids</label>
				<input type="text" id="arrdowvotersids" name="arrdowvotersids" placeholder="arrdowvotersids"/>
				<button onclick="addAnotherField('arrdowvotersids')">+</button><br/>
			</div>
		</fieldset>
		
				<label for="creationdatetime">*creationdatetime</label>
		<input type=text" name="creationdatetime" id="creationdatetime" placeholder="creationdatetime"/><br/>
		
		<label for="approved">*approved</label>
		<input type=text" name="approved" id="approved" placeholder="approved"/><br/>
		
		<label for="lawcontents">*lawcontents</label>
		<input type=text" name="lawcontents" id="lawcontents" placeholder="lawcontents"/><br/>
		
		<label for="_id">*_id</label>
		<input type=text" name="_id" id="_id" placeholder="_id"/><br/>
		
		<input type="submit" value="Enviar">
	</form>
</body>
</html>
