<!-- BEGIN: main -->
<!DOCTYPE html>
<html>
<head>
<script type="text/javascript">
var content = [];

function addAnotherField(fieldId){

	if(content[fieldId] == undefined){
		content[fieldId] = document.getElementById(fieldId).innerHTML;
	}

	document.getElementById(fieldId).innerHTML += content[fieldId];
}
</script>
<meta charset="UTF-8">
<title>{tittle}</title>
<link rel="stylesheet" type="text/css"	href="../modules/userSignUp/css/css.css">
</head>
<body>
<form action="index.php?module={nextModule}" method="post">
<p><em>{warning}</em></p>

	    <label for="lawcontents">*{lawcontents}</label><br>
		<textarea name="lawcontents" id="lawcontents" placeholder="{lawcontents}"></textarea>
		<br/>
		<input type="submit" value={sendText}>
</form>
</body>
</html>
<!-- END: main -->