<!-- BEGIN:CCampoHTML -->
	<!-- BEGIN:editarComoTexto -->
		<!-- BEGIN:multilinhaSim -->
		<label>{descricao}</label><textarea name="{nome}">{valorInicial}</textarea> 
		<!-- END:multilinhaSim -->
		<!-- BEGIN:multilinhaNao -->
		<label>{descricao}</label><input type="text" name="{nome}" value="{valorInicial}" />
		<!-- END:multilinhaNao -->
		<!-- BEGIN:editarComoSenha -->
		<label>{descricao}</label><input type="password" name="{nome}" value="{valorInicial}" />
		<!-- END:editarComoSenha -->
		<!-- BEGIN:editarComoListBox -->
		<div>
			<label>{descricao}</label>
			<select name="{nome}" multiple="multiple">
				<!-- BEGIN:opcaoDoListBox -->
				<option value="{valorDaOpcao}" {selected}>{descricaoDaOpcao}</option>
				<!-- END:opcaoDoListBox -->
			</select>
		</div>
		<!-- END:editarComoListBox -->
		<!-- BEGIN:editarComoCheckBox -->
		<div>
			<label>{descricao}</label>
			<!-- BEGIN:checkBox -->
			<label>{descricaoDaOpcao}</label>
			<input type="checkbox" value="{valorDaOpcao}" {checked}>
			<!-- END:checkBox -->
		</div>
		<!-- END:editarComoCheckBox -->
	<!-- END:editarComoTexto -->
	
	<!-- BEGIN:apenasMostrar -->
		<label>{descricao}</label><p>{valorInicial}</p>
	<!-- END:apenasMostrar -->
	
	<!-- BEGIN:editarEscondido -->
		<input type="hidden" name="{nome}" value="{valorInicial}"/>
	<!-- END:editarEscondido -->

	<!-- BEGIN:editarComoChekBox -->
	<label>{descricao}</label><input type="checkbox" name="{nome}" value="{valorInicial}" />
	<!-- END:editarComoChekBox -->

<!-- END:CCampoHTML -->
