<!-- BEGIN: CCampoHTML -->
	<!-- BEGIN: editarComoTexto -->
		<!-- BEGIN: multilinhaSim -->
		<div class="campoMultilinha">
		<label>{descricao}</label><textarea name="{nome}">{valorInicial}</textarea>
		</div> 
		<!-- END: multilinhaSim -->
		<!-- BEGIN: multilinhaNao -->
		<div class="campoUmalinha">
		<label>{descricao}</label><input type="text" name="{nome}" value="{valorInicial}" />
		</div>
		<!-- END: multilinhaNao -->
		<!-- BEGIN: editarComoSenha -->
		<div class="campoSenha">
		<label>{descricao}</label><input type="password" name="{nome}" value="{valorInicial}" />
		</div>
		<!-- END: editarComoSenha -->
		<!-- BEGIN: editarComoListBox -->
		<div class="campoListBox">
			<label>{descricao}</label><br>
			<select name="{nome}" multiple="multiple">
				<!-- BEGIN: opcaoDoListBox -->
				<option value="{valorDaOpcao}" {selected}>{descricaoDaOpcao}</option>
				<!-- END: opcaoDoListBox -->
			</select>
		</div>
		<!-- END: editarComoListBox -->
		<!-- BEGIN: editarComoCheckBox -->
		<div class="campoCheckBox">
			<fieldset>
			<legend>{descricao}</legend>
			<!-- BEGIN: checkBox -->
			<input type="checkbox" name="{nome}" value="{valorDaOpcao}" {checked}>
			<label>{descricaoDaOpcao}</label><br>
			<!-- END: checkBox -->
			</fieldset>
		</div>
		<!-- END: editarComoCheckBox -->
	<!-- END: editarComoTexto -->
	
	<!-- BEGIN: apenasMostrar -->
		<div class="nenhumCampo">
		<p><label>{descricao}:</label> {valorInicial}</p>
		</div>
	<!-- END: apenasMostrar -->
	
	<!-- BEGIN: editarEscondido -->
		<input type="hidden" name="{nome}" value="{valorInicial}"/>
	<!-- END: editarEscondido -->
<!-- END: CCampoHTML -->