body {
	margin: 0px;
	padding: 0px;
}

.formulario {
	width: 100%;
}

.campoMultilinha {
	margin: 5px;
	clear: both;
}

.campoMultilinha label {
	
}

.campoUmalinha {
	margin: 5px;
	clear: both;
	float: left;
}

.campoUmalinha label {
	
}

.campoSenha {
	clear: both;
	margin: 5px;
}

.campoSenha label {
	
}

.campoListBox {
	margin: 5px;
	clear: both;
}

.campoListBox label {
	
}

.campoCheckBox {
	margin: 5px;
	clear: both;
}

.campoCheckBox label {
	
}

.nenhumCampo {
	margin: 5px;
	clear: both;
}

#menu {
	list-style: none;
	list-style-type: none;
	width: 100%;
	margin: 0px;
	clear: both;
}

#menu ul {
	width: 100%;
	border-right: 10px;
	border-color: black;
	background-color: black;
	height: 30px;
	padding: 1px;
	margin: 0px;
	color: white;
}

#menu ul li {
	float: left;
	padding: 5px;
	display: inline;
}

#menu ul li input{
	width: 40px;
}