<!-- BEGIN: main -->
<?php
namespace {pageName};
require_once __DIR__ . '/../../../class/configuration/Configuration.php';
final class Conf.tmpl extends \Configuration {
	public static function getTemplate() {
		return __DIR__ . "/../template/template.html";
	}
}
?>
<!-- END: main -->