body{
	background-color: cadetblue;
	margin: 0.5em;
	font-family: sans-serif;
}

menuitem {
	width: 25%;
	height: 4em;
	display: block;
	float: left;
	border-color: black;
	border-width: 0.1em;
	border-radius: 10px;
	border-style: solid;
	margin: 5px;
	overflow: hidden;
	min-width: 150px;
}

menuitem > a {
	width: 100%;
	height: 100%;
	background-color: white;
	display: inherit;
	text-align: left;
	text-transform: capitalize;
	text-decoration: none;
	text-overflow: ellipsis;
	padding: 0.1em;
	min-width: inherit;
}

menuitem > a > sup{
	position: relative;
	top: 0.2em;
	border: 0px;
	border-style: solid;
	border-color: white;
	border-radius: 5px;
	background-color: red;
	padding: 0.2em;
	color: white;
	margin: 0.5em;
}

