<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<title>{{title}}</title>
<script type="text/javascript">
var content = [];

function addAnotherField(fieldId){

	if(content[fieldId] == undefined){
		content[fieldId] = document.getElementById(fieldId).innerHTML;
	}

	document.getElementById(fieldId).innerHTML += content[fieldId];
}
</script>
<link rel="stylesheet" type="text/css"	href="./pages/userSignUp/css/css.css">
</head>
<body>
	{% block message %}
	<p><em>{{message}}</em></p>
	{% endblock %}

	<form action="index.php?page={{nextPage}}" method="post" class="pure-form pure-form-aligned">
		<p><em>{{message}}</em></p>
		
		<div>
		<label>*{{lblLogin}}</label><input placeholder="{{lblLogin}}" type="text" name="login" required="required">
		</div>
		
		<div>
		<label>*{{lblPassword}}</label><input placeholder="{{lblPassword}}" type="password" name="password"  required="required">
		</div>
		
		<div>
		<label>*{{lblName}}</label><input placeholder="{{lblName}}" type="text" name="name" required="required">
		</div>
		
		<div>
		<label>*{{lblLastName}}</label><input placeholder="{{lblLastName}}" type="text" name="lastName" required="required">
		</div>
		
		<div>
		<label>{{lblSex}}</label>
		<select name="sex">
			{% for s in sexValues %}
			<option value="{{s.value}}">{{s.text}}</option>
			{% endfor %}
		</select>
		</div>
		
		<fieldset>
			<legend><label>*{{lblBirthDate}}</label></legend> 
			<input placeholder="{{lblBirthday}}" type="number" name="birthDate[day]" required="required">
			<input placeholder="{{lblBirthmonth}}" type="number" name="birthDate[month]" required="required">
			<input placeholder="{{lblBirthyear}}" type="number" name="birthDate[year]" required="required">
		</fieldset>
		<fieldset>
			<legend><label>*{{lblEmail}}</label></legend> 
			<div id="{{lblEmail}}">
			<input placeholder="*{{lblEmail}}" type="email" name="arrEmail[]" required="required">
			<button onclick="addAnotherField('{{lblEmail}}')">+</button><br/>
			</div>
		</fieldset>
			
		<fieldset>
			<legend><label>{{lblTelephone}}</label></legend>
			<div id="{{lblTelephone}}">
			<input placeholder="{{lblTelephone}}" type="tel" name="arrTelephone[]"> 
			<button onclick="addAnotherField('{{lblTelephone}}')">+</button><br/>
			</div>
		</fieldset>
		<br> 
		<input type="submit" value={{sendText}} class="pure-button pure-button-primary">
	</form>

	<script src="./js/AjaxClient.js"></script>
	<script src="./js/FormOverwriter.js"></script>
	
	<script type="text/javascript">
	var loadPage = function () {
		if (this.readyState == 4 && this.status == 200) {
			document.getElementsByTagName("form")[0].innerHTML = this.responseText;
		}
	}
	
	new FormOverwriter(loadPage);
	</script>
</body>
</html>
<!-- END: main -->