<!-- BEGIN: main -->
<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<title>{title}</title>
<link rel="stylesheet" type="text/css" href="./lib/purecss/base-min.css">
<link rel="stylesheet" type="text/css" href="./lib/purecss/pure-min.css">
<link rel="stylesheet" type="text/css" href="./lib/purecss/forms-min.css">
<link rel="stylesheet" type="text/css" href="./lib/purecss/grids-responsive-min.css">
<script type="text/javascript">
var content = [];

function addAnotherField(fieldId){

	if(content[fieldId] == undefined){
		content[fieldId] = document.getElementById(fieldId).innerHTML;
	}

	document.getElementById(fieldId).innerHTML += content[fieldId];
}
</script>
<link rel="stylesheet" type="text/css"	href="./pages/userSignUp/css/css.css">
</head>
<body>
	<!-- BEGIN: message -->
	<p><em>{message}</em></p>
	<!-- END: message -->
	<!-- BEGIN: dataEditing -->
	<form action="index.php?page={nextPage}" method="post" class="pure-form pure-form-aligned">
		<p><em>{message}</em></p>
		
		<div class="pure-control-group">
		<label>*{lblLogin}</label><input placeholder="{lblLogin}" type="text" name="login" required="required">
		</div>
		
		<div class="pure-control-group">
		<label>*{lblPassword}</label><input placeholder="{lblPassword}" type="password" name="password"  required="required">
		</div>
		
		<div class="pure-control-group">
		<label>*{lblName}</label><input placeholder="{lblName}" type="text" name="name" required="required">
		</div>
		
		<div class="pure-control-group">
		<label>*{lblLastName}</label><input placeholder="{lblLastName}" type="text" name="lastName" required="required">
		</div>
		
		<div class="pure-control-group">
		<label>{lblSex}</label>
		<select name="sex">
			<!-- BEGIN: comboSex -->
			<option value="{sexValue}">{sexText}</option>
			<!-- END: comboSex -->
		</select>
		</div>
		
		<fieldset class="pure-group">
			<legend><label>*{lblBirthDate}</label></legend> 
			<input placeholder="{lblBirthday}" type="number" name="birthDate[day]" required="required">
			<input placeholder="{lblBirthmonth}" type="number" name="birthDate[month]" required="required">
			<input placeholder="{lblBirthyear}" type="number" name="birthDate[year]" required="required">
		</fieldset>
		<fieldset>
			<legend><label>*{lblEmail}</label></legend> 
			<div id="{lblEmail}">
			<input placeholder="*{lblEmail}" type="email" name="arrEmail[]" required="required">
			<button onclick="addAnotherField('{lblEmail}')">+</button><br/>
			</div>
		</fieldset>
			
		<fieldset>
			<legend><label>{lblTelephone}</label></legend>
			<div id="{lblTelephone}">
			<input placeholder="{lblTelephone}" type="tel" name="arrTelephone[]"> 
			<button onclick="addAnotherField('{lblTelephone}')">+</button><br/>
			</div>
		</fieldset>
		<br> 
		<input type="submit" value={sendText} class="pure-button pure-button-primary">
	</form>
	<!-- END: dataEditing -->
</body>
</html>
<!-- END: main -->